.navbar {
    width: 95% !important;
    margin-left: auto !important;
    background-color: #010038;

}
.MuiPaper-root{
     background-color: #010038 !important;
}

/* @media (min-width: 786px) {
    .navbar { 
        width: 95% !important;
        margin-left: auto !important;
    }
} */
